<h4>{{ticker}}</h4>

<ul>
  <li>{{meanReturn}}</li>
  <li>{{assetClass}}</li>
  <li>{{assetType}}</li>
  <li>{{meanReturn}}</li>
  <li>{{stdDev}}</li>
  <li>{{impliedReturn}}</li>
</ul>

<p>{{link-to 'Back to securities list' 'securities.index'}}</p>
