<ul class='nav nav-tabs'>

  {{#link-to 'retirement_simulation.expenses' tagName='li'}}
    <a>{{fontawesome-icon type='money'}}Configure Expenses</a>
  {{/link-to}}

  {{#link-to 'retirement_simulation.parameters' tagName='li'}}
    <a>{{fontawesome-icon type='gears'}}Simulation Parameters</a>
  {{/link-to}}

  {{#link-to 'retirement_simulation.simulate' tagName='li' disabled=hasNoSimulationInput}}
    <a>{{fontawesome-icon type='signal'}}Simulation</a>
  {{/link-to}}

  <div class='pull-right'>
    <a {{bind-attr class=':btn :btn-default previousDisabled:disabled'}} {{action goPrevious}}>{{fontawesome-icon type="chevron-left" withForcedSpace=false}}</a>
    <a {{bind-attr class=':btn :btn-success nextDisabled:disabled'}} {{action goNext}}>{{fontawesome-icon type="chevron-right" withForcedSpace=false}}</a>
  </div>

</ul>
