<div class='row'>

  <div class='col-md-2'>
    <div class='form-group'>
      {{input type="number" value=numberOfSimulationTrials placeholder="1000" min=100 max=1000 classNames='form-control'}}
      <p class="help-block small italic">A value between 500-1000 is generally appropriate.</p>
    </div>

    <p class='text-center'>
      <button {{action runSimulations}} class='btn btn-primary'>Go!</button>
    </p>

    {{#if displayChart}}
      <hr>
      <p class='text-center'>
        <button {{action acceptSimulation}} class='btn btn-success'>Accept Simulation</button>
      </p>
      <p class='text-center'>
        {{link-to 'Change Portfolio' 'select_portfolio' classNames='btn btn-default'}}
      </p>
      <p class='text-center'>
        {{link-to 'Cancel' 'user.dashboard' classNames='btn btn-default'}}
      </p>
    {{/if}}
  </div>

  <div class='col-md-10 left-border'>

    {{#if loading}}
      <p class='lead text-center'>
        {{fontawesome-icon type="spinner" size='3x' spin=true withForcedSpace=false}}
      </p>
    {{else}}
      {{!-- No longer loading simulation data --}}

      {{#if displayChart}}
        {{!-- Have a chart to display --}}
        {{simulation-timeseries-chart barData=barData lineData=lineData}}
      {{else}}
        {{!-- No chart to display --}}

        <p class='lead text-center'>Time to run your simulation!</p>

        {{#bs-alert type='warning'}}
          <p>Select a number of trials to run, and hit 'Go'!</p>
        {{/bs-alert}}

        <p>Given the portfolio you selected earlier, we will generate a number of different possibilities for its performance based on its historical statistical properties.</p>
        <p>The calculated performance on your portfolio will be matched against the expenses and information provided earlier. The goal of this calculation is to determine if you have sufficient savings (or low enough expenses) that your retirement savings will generally last through your retirement.</p>
      {{/if}}

    {{/if}}

  </div>

</div>
