<div class="row chart-container">

  <div class='col-md-9'>

    {{#if portfoliosForDisplay}}

      <h4 class='text-center'>Portfolio Options</h4>

      <p class='text-center'>
        Select one of the portfolios (<strong>by clicking a {{#if tableView}}table row below{{else}}graph element below{{/if}}</strong>) to proceed.
        <a class='text-muted' data-toggle="popover" data-placement="auto" title="<div class='text-left'><p>Each of the points below correspond to a portfolio with different amounts and types of securities - <em>which securities may be used are governed by the checkboxes found on this page</em>.</p><p>Using the allowable asset classes you've checked off, an 'efficient frontier' was built, based on the nobel prize winning work surrounding <a href='http://en.wikipedia.org/wiki/Modern_portfolio_theory' target='_blank'>mean variance optimization</a> by Harry Markowitz.  This is a collection of potential portfolios where for a given return the portfolio will have the lowest risk (or vice versa - for a given amount of risk the portfolio will have the highest return).</p><p>You will need to select one of these portfolios so that we can continue with finding ETFs to meet your target asset exposures.</p></div>">{{fontawesome-icon type='question-circle'}}What are these?</a>
      </p>

      {{#if tableView}}
        {{portfolio-selection-table
            portfolios=portfoliosForDisplay
            selectPortfolio='selectPortfolio'}}
        <p class='text-muted italic'>Portfolios with risks levels below your "optimal" (as determined by the risk tolerance questionnaire) are highlighted yellow. Similarly, those above your "optimal" risk level are highlighted red.</p>
      {{else}}
        {{portfolio-scatter-chart
          portfolios=portfoliosForDisplay
          selectPortfolio='selectPortfolio'}}
        <p class='text-muted italic'>Portfolios with risks levels below your "optimal" (as determined by the risk tolerance questionnaire) are shown left of the "Low Risk Region" line. Similarly, those above your "optimal" are shown right of the "Suggested Risk Region" line.</p>
      {{/if}}

      <br>

      {{!-- Action buttons --}}
      <div class='row'>
        <div class='col-md-12 text-center'>
          <a {{bind-attr class=':btn :btn-default leftArrowDisabled:disabled'}} {{action "selectPortfolioLeft"}}>{{fontawesome-icon type="chevron-left" withForcedSpace=false}}</a>
          <a {{bind-attr class=':btn :btn-success :space-left hasSelectedPortfolio:enabled:disabled'}} {{action "saveSelectedPortfolio" selectedPortfolioID}}>Save selection</a>
          <a {{action "toggleTableView"}} class='btn btn-info space-left'>
            {{#if tableView}}View as Graph{{else}}View as Table{{/if}}
          </a>
          <a class="btn btn-default space-left" {{action "cancel"}}>Cancel</a>
          <a {{bind-attr class=':btn :btn-default :space-left rightArrowDisabled:disabled'}} {{action "selectPortfolioRight"}}>{{fontawesome-icon type="chevron-right" withForcedSpace=false}}</a>
        </div>
      </div>

    {{/if}}

  </div>

  <div class='col-md-3'>

    {{#if hasSelectedPortfolio}}
      <h4 class='text-center'>Portfolio Details</h4>

      {{!-- Warnings on allocation --}}
      {{#if selectedPortfolio.warnings}}
        {{#bs-panel heading="Portfolio Warnings" type="warning"}}
          <p>Please note the following concerns with this portfolio:</p>
          <ul>
            {{#each selectedPortfolio.warnings}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/bs-panel}}
      {{/if}}

      <p class='italic text-muted'>The portfolio you selected has the following properties:</p>

      {{!-- Pie chart of portfolio allocation --}}
      {{#if allocation}}
        {{portfolio-pie-chart
          allocation=allocation
          assetClasses=allAssets}}
      {{/if}}

      {{!-- Portfolio statistics --}}
      <p>
        <ul>
          <li>Annual (nominal) expected return: {{selectedPortfolioReturn}}</li>
          <li>Annual risk (standard deviation): {{selectedPortfolioRisk}}</li>
          <li>
            For an investment of $10,000:
            <ul>
              <li>The <strong>expected</strong> monthly return is {{format-money monthlyReturnTenThousand}}.</li>
              <li>You should be prepared to see a <strong>loss of at least {{format-money monthlyVARTenThousand}}</strong> in a day about once a month.</li>
            </ul>
          </li>
        </ul>
      </p>
      <p class='italic text-muted'><small>Keep in mind that this return is not guaranteed, and only an expected value based on historical observed results.  Risk of loss exists in all portfolios.</small></p>

    {{else}}
      <p class='italic text-warning bold'>{{fontawesome-icon type="exclamation-circle"}}Please select (click on) one of the portfolios.</p>
    {{/if}}

  </div>

</div>
