<div class="row chart-container">

  <div class='col-md-9'>

    {{#if havePortfolios}}
      {{!-- If chart data is not present, we get errors when trying to render --}}
      {{!-- Scatter chart of portfolios--}}
      {{portfolio-scatter-chart
        selectedPortfolioID=selectedPortfolioID
        portfolios=portfolios
        save="saveSelectedPortfolio"
        cancel="cancel"
      }}
    {{/if}}

  </div>

  <div class='col-md-3'>

    {{#if hasSelectedPortfolio}}
      <h4 class='text-center'>Portfolio Details</h4>

      {{!-- Warnings on allocation --}}
      {{#if selectedPortfolio.warnings}}
        {{#bs-panel heading="Portfolio Warnings" type="warning"}}
          <p>Please note the following concerns with this portfolio:</p>
          <ul>
            {{#each selectedPortfolio.warnings}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/bs-panel}}
      {{/if}}

      <p class='italic text-muted'>The portfolio you selected in the chart has the following properties:</p>

      {{!-- Pie chart of portfolio allocation --}}
      {{portfolio-pie-chart
        allocation=allocation
        assetClasses=allAssets
      }}

      {{!-- Portfolio statistics --}}
      <p>
        <ul>
          <li>Annual (nominal) expected return: {{selectedPortfolioReturn}}</li>
          <li>Annual risk (standard deviation): {{selectedPortfolioRisk}}</li>
          <li>
            For an investment of $10,000:
            <ul>
              <li>The <strong>expected</strong> monthly return is {{format-money monthlyReturnTenThousand}}.</li>
              <li>You should be prepared to see a <strong>loss of at least {{format-money monthlyVARTenThousand}}</strong> in a day about once a month.</li>
            </ul>
          </li>
        </ul>
      </p>

      <p class='italic text-muted'><small>Keep in mind that this return is not guaranteed, and only an expected value based on historical observed results.  Risk of loss exists in all portfolios.</small></p>

    {{else}}
      <p class='italic text-warning bold'>{{fontawesome-icon type="exclamation-circle"}}Please select (click on) one of the portfolios.</p>
    {{/if}}

  </div>

</div>
