<div class="process">
  <div class="process-row">

    {{!-- Currently specifying 20% width on .process-step's. If you change the number of elements, need to adjust this. --}}

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle questionnaireActive:btn-warning:btn-default"}}>
        <i class="fa fa-check-square-o fa-2x"></i>
      </button>
      <p>
        {{#if questionnaireEnabled}}
          {{link-to "Risk Questionnaire" "questionnaire"}}
        {{else}}
          Risk Questionnaire
        {{/if}}
      </p>
    </div>

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle portfolioSelectionActive:btn-warning:btn-default"}}>
        <i class="fa fa-tasks fa-2x"></i>
      </button>
      <p>
        {{#if portfolioSelectionEnabled}}
          {{link-to "Portfolio Selection" "select_portfolio"}}
        {{else}}
          Portfolio Selection
        {{/if}}
      </p>
    </div>

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle retirementSimulationActive:btn-warning:btn-default"}}>
        <i class="fa fa-bar-chart-o fa-2x"></i>
      </button>
      <p>
        {{#if retirementSimulationEnabled}}
          {{link-to "Retirement Simulation" "retirement_simulation"}}
        {{else}}
          Retirement Simulation
        {{/if}}
      </p>
    </div>

     <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle trackPortfolioActive:btn-warning:btn-default"}}>
        <i class="fa fa-cloud-upload fa-2x"></i>
      </button>
      <p>
        {{#if trackPortfolioEnabled}}
          {{link-to "Track Portfolio" "track_portfolio"}}
        {{else}}
          Track Portfolio
        {{/if}}
      </p>
    </div>

     <div class="process-step">
      <button type="button" diabled="disabled" class="btn btn-circle btn-success">
        <i class="fa fa-flag-checkered fa-2x"></i>
      </button>
      <p>Relax!</p>
    </div>

  </div>
</div>

<br>
<br>

<div class='jumbotron text-center img-rounded'>
  <h2>Welcome to RetirementPlan.io!</h2>
  {{#if userIsComplete}}
    <p class='lead'>Looks like you have your portfolio all set up. We are tracking it for you, and will notify you if it gets out of balance.</p>
  {{else}}
    <p class='lead'>Looks like you haven't got your portfolio set up yet. Next up:</p>
    <p>{{link-to nextStepText nextStepLinkRoute classNames='btn btn-primary btn-lg'}}</p>
  {{/if}}
</div>
