{{partial 'user/progress-steps'}}

<br>
<br>

<div class='jumbotron text-center img-rounded'>
  <h2>Welcome to RetirementPlan.io!</h2>
  <br>
  {{#if userIsComplete}}
    <p class='lead'>Looks like you have your portfolio all set up. {{link-to 'We are tracking it for you' 'tracked_portfolio.show'}}, and will notify you if it gets out of balance.</p>
  {{else}}
    <p class='lead'>Looks like you haven't got your portfolio set up yet.</p>
    <p>
      {{#link-to nextStepLinkRoute classNames='btn btn-warning btn-lg'}}
        {{fontawesome-icon type='hand-o-right'}}
        {{nextStepText}}
      {{/link-to}}
    </p>
  {{/if}}
</div>
