<div class="process">
  <div class="process-row">

    {{!-- Currently specifying 20% width on .process-step's. If you change the number of elements, need to adjust this. --}}

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle questionnaireActive:btn-warning:btn-default"}} {{action actionBasedTransitionTo 'questionnaire'}}>
        {{fontawesome-icon type="check-square-o" size='2x' withForcedSpace=false}}
      </button>
      <p>
        {{#if questionnaireEnabled}}
          {{link-to "Risk Questionnaire" "questionnaire"}}
        {{else}}
          Risk Questionnaire
        {{/if}}
      </p>
    </div>

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle portfolioSelectionActive:btn-warning:btn-default"}} {{action actionBasedTransitionTo 'select_portfolio'}}>
        {{fontawesome-icon type="tasks" size='2x' withForcedSpace=false}}
      </button>
      <p>
        {{#if portfolioSelectionEnabled}}
          {{link-to "Portfolio Selection" "select_portfolio"}}
        {{else}}
          Portfolio Selection
        {{/if}}
      </p>
    </div>

    <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle retirementSimulationActive:btn-warning:btn-default"}} {{action actionBasedTransitionTo nextSimulateStepRoute}}>
      {{fontawesome-icon type="bar-chart-o" size='2x' withForcedSpace=false}}
      </button>
      <p>
        {{#if retirementSimulationEnabled}}
          {{!-- Complicated selection for which simulation step to choose --}}
          {{link-to "Retirement Simulation" nextSimulateStepRoute}}
        {{else}}
          Retirement Simulation
        {{/if}}
      </p>
    </div>

     <div class="process-step">
      <button type="button" diabled="disabled" {{bind-attr class=":btn :btn-circle trackPortfolioActive:btn-warning:btn-default"}} {{action actionBasedTransitionTo 'track_portfolio'}}>
        {{fontawesome-icon type="cloud-upload" size='2x' withForcedSpace=false}}
      </button>
      <p>
        {{#if trackPortfolioEnabled}}
          {{link-to "Track Portfolio" "track_portfolio"}}
        {{else}}
          Track Portfolio
        {{/if}}
      </p>
    </div>

     <div class="process-step">
      <button type="button" diabled="disabled" class="btn btn-circle btn-success">
        {{fontawesome-icon type="flag-checkered" size='2x' withForcedSpace=false}}
      </button>
      <p>Relax!</p>
    </div>

  </div>
</div>
