{{partial 'sections/navbar'}}

<div class='container-fluid' id='main'>
  <div clas='row'>

    {{#if showSidebar}}
      <div class='col-md-3' style='padding: 0px;'>
        {{partial 'sections/sidebar'}}
      </div>
    {{/if}}
    <div {{bind-attr class="showSidebar:col-md-9:col-md-12"}}>
      {{outlet}}
    </div>

  </div>
</div>

{{partial 'sections/footer'}}

{{outlet modal}}
