{{partial 'sections/navbar'}}

<div class='container-fluid' id='main'>
  <div clas='row'>

    <div {{bind-attr class="showSidebar:col-md-9:col-md-12 showSidebar:col-md-push-3"}}>
      {{outlet}}
    </div>
    {{#if showSidebar}}
      <div class='col-md-3 col-md-pull-9' style='padding: 0px;'>
        {{partial 'sections/sidebar'}}
      </div>
    {{/if}}

  </div>
</div>

{{partial 'sections/footer'}}

{{outlet modal}}
