<div class='row'>
  <div class='col-md-offset-3 col-md-6'>

    {{#em-form model=this form_layout='horizontal' action='authenticate' submit_button=false}}
      <fieldset class='fieldset-border'>
        <legend class='fieldset-border'>Sign in</legend>

        <div id='social-login-buttons' class='row'>
          <div class='col-md-10 col-md-offset-2'>

            <a class="btn btn-block btn-social btn-facebook" {{ action 'authenticateWithHelloJs' 'facebook' }}>
              {{fontawesome-icon type='fa fa-facebook-square'}} Sign in with Facebook
            </a>

            <a class="btn btn-block btn-social btn-google-plus" {{ action 'authenticateWithHelloJs' 'google' }}>
              {{fontawesome-icon type='fa fa-google-plus-square'}} Sign in with Google
            </a>

          </div>
        </div>

        <hr>

        {{em-input property="identification" type='email' label="Email" placeholder="joe@example.com"}}
        {{em-input property="password" type='password' label="Password"}}

        {{em-form-submit text="Sign in" classes='btn btn-success'}}

      </fieldset>
    {{/em-form}}

  </div>
</div>
